<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageResize.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ImageResize.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value>\\t70030\viz$\KV17\KandidatVisning_BC9_SourceImages\PrioriteredeBilleder</value>
            </setting>
            <setting name="Resolutions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>462</string>
                        <string>128</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DestinationPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\t70030\viz$\KV17\KandidatVisning_BC9_SourceImages\PreMadeKort</string>
                        <string>\\t70030\viz$\KV17\KandidatVisning_BC9_SourceImages\PreMadeKarrusel</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FileTypeFilter" serializeAs="String">
                <value>*.jpg</value>
            </setting>
        </ImageResize.Properties.Settings>
    </applicationSettings>
</configuration>